@model PagedList.IPagedList<RichmondDay.Models.RichmonddayInfoModel>
@using PagedList.Mvc;
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="row">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.Partial("~/Views/Partials/_SaveInfo.cshtml")
</div>
<div class="row" id="partialViewInfo">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParam })
            </th>
            <th>
                @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParam })
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.TextBoxFor(modelItem => item.LastName, new { @id = "txtLastName", @name = "LastName", @class = ("T" + item.Id + " form-control"), @disabled = "disabled" })
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.FirstName, new { @id = "txtFirstName", @name = "FirstName", @class = ("T" + item.Id + " form-control"), @disabled = "disabled" })
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.Email, new { @id = "txtEmail", @name = "Email", @class = ("T" + item.Id + " form-control"), @disabled = "disabled" })
                </td>
                <td>
                    <input type="submit" id="@("E"+item.Id)" name="btnEdit" value="Edit" class="btn btn-info">
                    <input type="submit" id="@("D"+item.Id)" name="btnDelete" value="Delete" class="btn btn-danger">
                </td>
            </tr>
        }
    </table>
    <input type="hidden" id="pageNumber" value=@ViewBag.pageNumber>
    <input type="hidden" id="sortOrder" value=@ViewBag.CurrentSort>
</div> 
<div class="row">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))
</div>





